body {
	overflow-x: hidden;
}

.programming-lang {
	height: 16rem;
	transition: all 0.3s ease;
}

.programming-lang:hover {
	scale: 1.1;
	filter: drop-shadow(0.5rem 0.5rem 0.5rem #0000008f);
}

.programming-langs {
	width: 100vw;
	padding: 2rem 0;
	background: #a9ff62be;
}

.card {
	max-width: 20rem;
	margin: 2rem;
}
