.main-menu,
.main-menu li {
	font-size: 5vmin;
	color: #f9f9f9;
	list-style: none;
	text-align: center;
}

.main-menu {
	padding: 8rem 0;
}

.main-menu h1 {
	font-size: 13vmin;
	cursor: default;
}

.main-menu ul {
	padding-top: 4rem;
}

.main-menu ul li {
	margin: 0.5rem 0;
}

.main-menu li a {
	color: #cecece;
	text-decoration: none;
	font-family: 'Be Vietnam Pro', sans-serif;
	transition: all 0.25s;
}

.main-menu li a:hover {
	color: #f9f9f9;
	font-size: 7vmin;
	text-shadow: #fff 0px 0px 5px, #aaa 0px 0px 10px, #888 0px 0px 15px;
}

#main {
	margin: 0px;
	padding: 0px;
	height: 100vh;
}

body {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('../img/background.jpg');

	background-size: cover;
}

@media screen and (max-width: 768px) {
	.main-menu,
	.main-menu li {
		font-size: 10vmin;
	}

	.main-menu li a:hover {
		font-size: 12vmin;
	}
}
