html{
    background: #f4f4f4;
}

.cards{
    width: 100%;
    columns: 3;
    /* column-width: 30%; */
}
/* 
.card{
    margin: 1em;
    /* width: 30%; *//*
    min-width: 400px;
    cursor: pointer;
} */

.underline{
    text-decoration: underline;
}

@media (max-width: 700px){
    .cards{
        columns: 1;
    }
}
