

.cards{
    width: 100%;
    columns: 3;
    padding: 1em;
    /* column-width: 30%; */
}
/* 
.card{
    margin: 1em;
    /* width: 30%; *//*
    min-width: 400px;
    cursor: pointer;
} */

.underline{
    text-decoration: underline;
}
